{% extends 'base.html.twig' %}

{% block title %}Character List{% endblock %}

{% block body %}
    <h1>Character List</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Species</th>
            <th>Class</th>
            <th>Hitpoints</th>
            <th>Skill Bonus</th>
            <th>Armor Class</th>
            <th>Attack</th>
        </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>
                    <a href="{{ path('character_detail', {'id': character.id}) }}">{{ character.name }}</a>
                </td>
                <td>{{ character.species }}</td>
                <td>{{ character.class }}</td>
                <td>{{ character.hitpoints }}</td>
                <td>{{ character.skillBonus }}</td>
                <td>{{ character.armorClass }}</td>
                <td>{{ character.attack }}</td>
                <td>
                    <form method="post" action="{{ path('character_delete', {'id': character.id}) }}" onsubmit="return confirm('Are you sure you want to delete this character?');" style="display: inline;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ character.id) }}">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('character_new') }}" class="btn btn-primary">Create a new character</a>

{% endblock %}
